extend layout
block search-bar-content
    p
        | Google-Fast 
    input#search-text(type="text")
block left-pane-content
block content
    script(src="/jquery/jquery-2.1.0.min.js")
    script(type='text/javascript').
        $(document).ready(function(){
            $('#search-text').keyup(function(event) {
                if(event.keyCode == 13) {
                    var ajax_load = "<img src='img/load.gif' alt='loading...' />";
                    $('#search-results').html(ajax_load).load('/search?q=' + encodeURIComponent($("#search-text").val()));
                }
            });
        });
    div#search-results
//- block sidebar
//-  .widget
